<form [formGroup]="locationForm">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Select Country</h3>
                <mat-select placeholder="Countries" formControlName="country" class="countries form-control"
                    (selectionChange)="countrySelected($event)" [(ngModel)]="selectedCountry">
                    <mat-option *ngFor="let country of countries" [value]="country.isoCode">
                        {{country.name}}</mat-option>
                </mat-select>

            </div>
            <div class="col-sm-4">
                <h3>Select State</h3>
                <mat-select placeholder="States" formControlName="state" class="states form-control"
                    (selectionChange)="stateSelected($event)" [(ngModel)]="selectedState">
                    <mat-option *ngFor="let state of states" [value]="state.isoCode">{{state.name}}</mat-option>
                </mat-select>
            </div>
            <div class="col-sm-4">
                <h3>Select City</h3>
                <mat-select placeholder="Cities" formControlName="city" class="cities form-control">
                    <mat-option *ngFor="let city of cities" [value]="city.name">{{city.name}}</mat-option>
                </mat-select>
            </div>
        </div>
    </div>

    <div class="btns">
        <button mat-raised-button (click)="onSubmit()" color="primary">Submit</button>
        <button mat-raised-button (click)="locationForm.reset()" color="warn">Reset</button>
    </div>
</form>

<div class="result_container">

    <div *ngIf="location === undefined; else elseBlock">
        <div class="not_yet_selected">
            <mat-icon>location_city</mat-icon>
            Please select options from above input fields and submit to show results
        </div>
    </div>
    <ng-template #elseBlock>
        <h3>Country you selected: <strong>{{location[0]}}</strong></h3>
        <br>
        <h3>State you selected: <strong>{{location[1]}}</strong></h3>
        <br>
        <h3> City you selected: <strong>{{location[2]}}</strong></h3>
    </ng-template>
</div>