.file_upload {
    margin: 16px auto;
    max-width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    .after_upload {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .file_name {
            margin: auto;
        }
    }
}
